body {
  font: 400 1em/1.4 $primary-font;
  margin: 0;
  text-rendering: optimizeLegibility;
}

.money-container {
  align-items: center;
  display: flex;
  @include position(fixed, 0px 0 0px 0);

  &.bank {
    right: 50%;
    left: 0;
  }

  &.cost {
    right: 0;
    left: 50%;
  }

  .money {
    margin: auto;
    text-align: center;
  }

  h1 {
    border: .4rem solid #000;
    display: inline-block;
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
    @include transition();
    @include user-select(none);

    &:before {
      content: '$';
    }

    &.add {
      @include animation(add-money .25s $ease-out-back);
    }
  }

  h2 {
    font-family: $secondary-font;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .1rem;
    margin: 1rem 0 0;
    text-transform: uppercase;
  }
}
