@mixin container {
  height: 100vh;
  margin: auto;
  overflow-x: hidden;
  position: relative;
  width: 1024px;
}

@mixin pseudo-block-element {
  content: '';
  display: block;
}

@include keyframes(line-point-down) {
  0% {
    bottom: 40%;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

body {
  font: 400 1em/1.4 $primary-font;
  margin: 0;
  text-rendering: optimizeLegibility;
}

.headline {
  @include container;
  display: flex;
  flex-wrap: wrap;

  h1 {
    align-self: center;
    display: block;
    font-family: $secondary-font;
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .line {
    @include animation(line-point-down 2s $ease-in-out-back both);
    background: #000;
    border-radius: 4px;
    display: block;
    @include position(absolute, 55% 0 0px 50%);
    width: 4px;
  }
}

.costs {
  @include container;

  h2 {
    clear: both;
    font-size: 2rem;
    font-weight: 100;
    margin: 2em auto;
    text-align: center;
    width: 70%;
  }

  .years {
    overflow: auto;
  }

  .year {
    background: rgba(0, 255, 0, .2);
    border: .25rem solid green;
    border-radius: .5rem;
    box-sizing: border-box;
    cursor: default;
    float: left;
    height: 250px;
    margin: 0 2.5%;
    padding: 2rem 1rem 1rem 1rem;
    position: relative;
    @include user-select(none);
    width: 20%;

    .title, .cost {
      display: block;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 1rem 0;
      text-align: center;

      &:first-child {
        font-weight: normal;
      }
    }

    .segments {
      div {
        background: transparent;
        border-bottom: 1px dashed green;
        @include position(absolute, 0px 0px 0 0px);
        @include transition;

        &:hover {
          background: green;

          span {
            opacity: 1;
          }
        }
      }

      .fees {
        height: 10%;
      }

      .room {
        height: 35%;
        top: 10%;
      }

      .tuition {
        height: 55%;
        top: 45%;
      }

      span {
        color: white;
        font-weight: bold;
        opacity: 0;
        @include position(absolute, 10% 10% 0 10%);
        text-align: center;
        @include transition;
      }
    }
  }
}

.container {
  @include container;
}

.chart {
  left: 40px;
  position: relative;
}

.y-axis {
  @include position(absolute, 0px 0 0px 0);
  width: 40px;
}
