body {
  font: 400 1em/1.4 $primary-font;
  margin: 0;
  text-rendering: optimizeLegibility;
}

.headline {
  @include _container;
  display: flex;
  flex-wrap: wrap;

  h1 {
    @include _section-header;
    align-self: center;

    span {
      @include _sub-header;
      display: block;
      margin-left: 0;
      max-width: 100%;
      text-transform: none;
    }
  }

  .line {
    @include animation(line-point-down 2s $ease-in-out-back both);
    background: #000;
    border-radius: 4px;
    display: block;
    margin-top: 3rem;
    @include position(absolute, 50% 0 0px 50%);
    width: 4px;
  }
}

.costs {
  @include _container;

  h2 {
    @include _section-header;
    margin-top: 3rem;
  }

  h3, > p {
    @include _sub-header;
  }

  .years {
    @include _nil-list;
    align-items: flex-end;
    display: flex;
    overflow: hidden;
    padding: 3rem 0;

    li {
      align-items: flex-end;
      border-right: 1px solid #eee;
      border-top: 4px solid #000;
      display: flex;
      flex: 1 100%;
      flex-wrap: wrap;
      padding: 0 1rem 1rem;
      @include transition;

      &:first-of-type:before {
        @include _pseudo-block-element;
        border-top: 4px solid #ccc;
        margin-top: -4px;
        position: absolute;
        width: 100%;
        z-index: -1;
      }

      &:last-of-type {
        border-right: 0;
      }

      &:hover {
        @include transform(scale(1.1));
        background: #eee;

        &:before {
          display: none;
        }
      }

      span {
        font-weight: bold;
      }
    }
  }

  .footnotes {
    @include _sub-header;
    font-style: italic;

    p {
      margin: 0 0 .5rem;
    }

    a {
      text-decoration: none;
    }
  }
}

.container {
  @include _container;
}

.chart {
  left: 40px;
  position: relative;
}

.y-axis {
  @include position(absolute, 0px 0 0px 0);
  width: 40px;
}
