@mixin normal-state {
  background: white;
  border-color: black;
  color: black;
  @include transform(scale(1));
}

@include keyframes(add-money) {
  0%, 100% {
    @include normal-state;
  }

  50% {
    background: green;
    border-color: green;
    color: white;
    @include transform(scale(.85));
  }
}

@include keyframes(subtract-money) {
  0%, 100% {
    @include normal-state;
  }

  50% {
    background: red;
    border-color: red;
    color: white;
    @include transform(scale(.85));
  }
}

@include keyframes(pulse) {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
