---
title: Student Loans
---

.bank.money-container.hide
  .money
    %h1 0
    %h2 Your money

.cost.money-container.hide
  .money
    %h1 ?
    %h2 The cost of education

%article.intro.center
  %h1 The Cost of Education

%article.blank

%article.costs-summary.center{ 'data-total' => '48872' }
  %div
    %h2 Northeastern Costs 2009&ndash;2010
    %p You're required to live on campus for the first two years. Costs can be lower or higher depending on the quality, but this is what the average student paid 5 years ago.
    %table.line-items
      %tr
        %td 15 Meal Plan
        %td $5380
      %tr
        %td Health Plan Fee
        %td $2095
      %tr
        %td New Student Fee
        %td $350
      %tr
        %td Recreation Fee
        %td $92
      %tr
        %td Residence Activity Fee
        %td $64
      %tr
        %td Student Center Fee
        %td $140
      %tr
        %td Student Activity Fee
        %td $116
      %tr
        %td Residence (Standard Double)
        %td $6530
      %tr
        %td Tuition
        %td $34950

%article.costs-summary.center{ 'data-total' => '29644' }
  %div
    %h2 Northeastern Costs 2010&ndash;2011
    %p Most students go on co-op their sophmore year &mdash; you don't have to pay tuition, but you're still paying for housing and various fees.
    %table.line-items
      %tr
        %td 5 Meal Plan
        %td $2310
      %tr
        %td Health Plan Fee
        %td $2160
      %tr
        %td Recreation Fee
        %td $46
      %tr
        %td Residence Activity Fee
        %td $32
      %tr
        %td Student Center Fee
        %td $70
      %tr
        %td Student Activity Fee
        %td $116
      %tr
        %td Residence (Standard Double)
        %td $6720
      %tr
        %td Tuition
        %td $18190

%article.costs-summary.center{ 'data-total' => '21447' }
  %div
    %h2 Northeastern Costs 2011&ndash;2012
    %p By middler year most students have moved off campus and no longer use a meal plan, this is also the second year in a row that the average student does a co-op.
    %table.line-items
      %tr
        %td Health Plan Fee
        %td $2295
      %tr
        %td Recreation Fee
        %td $46
      %tr
        %td Student Center Fee
        %td $70
      %tr
        %td Student Activity Fee
        %td $116
      %tr
        %td Tuition
        %td $18920

%article.costs-summary.center{ 'data-total' => '22145' }
  %div
    %h2 Northeastern Costs 2012&ndash;2013
    %p Costs are steady and tuition rises each year. Many students take a 3rd co-op, but many also only take two, which almost doubles the cost of their junior year.
    %table.line-items
      %tr
        %td Health Plan Fee
        %td $2249
      %tr
        %td Recreation Fee
        %td $46
      %tr
        %td Student Center Fee
        %td $70
      %tr
        %td Student Activity Fee
        %td $120
      %tr
        %td Tuition
        %td $19660

%article.costs-summary.center{ 'data-total' => '43291' }
  %div
    %h2 Northeastern Costs 2013&ndash;2014
    %p Finally, almost all students take two semesters of classes their senior year.
    %table.line-items
      %tr
        %td Health Plan Fee
        %td $2159
      %tr
        %td Recreation Fee
        %td $92
      %tr
        %td Student Center Fee
        %td $140
      %tr
        %td Student Activity Fee
        %td $120
      %tr
        %td Tuition
        %td $40780

%article.blank

%article.bank-summary.center.right{ 'data-total' => '79754' }
  %div
    %h2 Northeastern Aid
    %p So how are you gonna pay this bill? Northeastern gives aid in the form of grants to 70% of those who apply. These are the average amounts given per year.
    %table.line-items
      %tr
        %td Year 1
        %td $22787
      %tr
        %td Year 2 (co-op)
        %td $11393
      %tr
        %td Year 3 (co-op)
        %td $11393
      %tr
        %td Year 4 (co-op)
        %td $11393
      %tr
        %td Year 5
        %td $22787
