---
title: Student Loans
---

.headline
  %h1
    How will student loans effect you?
    %span An overview for Northeastern students
  .line

.costs
  .container
    .hgroup
      %h2 1. The Costs
      %h3 Over the course of five years, costs go up at almost every school &mdash; here's Northeastern's tuition over the last five years, for each academic year (2 semesters.)
    %ol.years
      %li{ 'data-amount' => '35712' }
        %p
          2009&ndash;2010 tuition:
          %span $35,712
      %li{ 'data-amount' => '37142' } 
        %p
          2010&ndash;2011 tuition:
          %span $37,142
      %li{ 'data-amount' => '38602' }
        %p
          2011&ndash;2012 tuition:
          %span $38,602
      %li{ 'data-amount' => '40086' }
        %p
          2012&ndash;2013 tuition:
          %span $40,086
      %li{ 'data-amount' => '41660' }
        %p
          2013&ndash;2014 tuition:
          %span $41,660

    %p That's $14,642 in tuition increases.

    .footnotes
      %p Room and Board not included, which can be as much as $13,000 per year, but varies depending on placement.
      = link_to '* Northeastern tuition data', 'http://www.cappex.com/colleges/Northeastern-University/tuition-and-costs', target: '_blank'

.debt
  .container
    .hgroup
      %h2 2. The Debt

    %p 48% of the student body at Northeastern has taken on federal loans, at an average of $7,324 per academic year. This leaves the average Northeastern borrower with about the average national level of $29,400 in loans after graduation.

    %p.question
      %strong How does this effect you post graduation?

    %form
      %p How much do you owe?
      %input{ 'type' => 'text', 'placeholder' => '$29,400' }

      %p What's your interest rate?
      %input{ 'type' => 'text', 'placeholder' => 'Federal loan are currently fixed at 3.86%' }

      %p What do you expect to be making post-graduation?
      %input{ 'type' => 'text', 'placeholder' => '$50,000' }

      %p What do you expect to be making 5 years post-graduation?
      %input{ 'type' => 'text', 'placeholder' => '$80,000' }

      .success
        %span
          With consistent monthly payments of $0000, you'd be able to pay off your loans after 00 years. You'd end up paying $0000 in interest.
        .line

.graph-container#graph
  .graph
    .y-axis
    .chart
