---
title: Student Loans
---

.cost.money-container.hide.center
  .money
    %h1 ?
    %h2 The cost of education

%article#panel.intro.center
  .hgroup
    %h1 The Cost of Education
    %p
      The cost of higher education in the United States continues
      %br
      to grow year after year, but what exactly is on the bill?

%article#panel.intro.center
  %p An examination of Northeastern&rsquo;s graduating class&rsquo; educational costs.

%article#panel.blank

%article#panel.calendar
  .year
    .sem.tentative
      %span Semester 1
    .sem.tentative
      %span Semester 2
  .year
    .sem
    .sem
  .year
    .sem
    .sem
  .year
    .sem
    .sem
  .year
    .sem
    .sem

%article#panel.costs-summary.center.hide{ 'data-total' => '49717' }
  %div
    .text
      %h2 Northeastern Costs 2009&ndash;2010
      %p You're required to live on campus for the first two years. Costs can be lower or higher depending on the quality, but this is what the average student paid 5 years ago.
    .line-items
      .line-item.residence-activity-fee{ 'data-total' => '64' }
        %p
          %span.name Residence Activity Fee
          %span.cost $64
      .line-item.recreation-fee{ 'data-total' => '92' }
        %p
          %span.name Recreation Fee
          %span.cost $92
      .line-item.student-activity-fee{ 'data-total' => '116' }
        %p
          %span.name Student Activity Fee
          %span.cost $116
      .line-item.student-center-fee{ 'data-total' => '140' }
        %p
          %span.name Student Center Fee
          %span.cost $140
      .line-item.new-student-fee{ 'data-total' => '350' }
        %p
          %span.name New Student Fee
          %span.cost $350
      .line-item.health-plan{ 'data-total' => '2095' }
        %p
          %span.name Health Plan Fee
          %span.cost $2095
      .line-item.meal-plan{ 'data-total' => '5380' }
        %p
          %span.name 15 Meal Plan
          %span.cost $5380
      .line-item.housing{ 'data-total' => '6530' }
        %p
          %span.name Residence (Standard Double)
          %span.cost $6530
      .line-item.tuition{ 'data-total' => '34950' }
        %p
          %span.name Tuition
          %span.cost $34950

%article#panel.calendar
  .year
    .sem.past
      %span $24858
    .sem.past
      %span $24858
  .year
    .sem.tentative
      %span Semester 3
    .sem.tentative
      %span Semester 4
  .year
    .sem
    .sem
  .year
    .sem
    .sem
  .year
    .sem
    .sem

%article#panel.costs-summary.center.hide{ 'data-total' => '32714' }
  %div
    .text
      %h2 Northeastern Costs 2010&ndash;2011
      %p Most students go on co-op the second semester of their sophmore year &mdash; you don't have to pay tuition, but you're still paying for housing and various fees. Sophmores are now required to live on campus.
    .line-items
      .line-item.residence-activity-fee{ 'data-total' => '32' }
        %p
          %span.name Residence Activity Fee
          %span.cost $32
      .line-item.recreation-fee{ 'data-total' => '46' }
        %p
          %span.name Recreation Fee
          %span.cost $46
      .line-item.student-center-fee{ 'data-total' => '70' }
        %p
          %span.name Student Center Fee
          %span.cost $70
      .line-item.student-activity-fee{ 'data-total' => '116' }
        %p
          %span.name Student Activity Fee
          %span.cost $116
      .line-item.health-plan{ 'data-total' => '2160' }
        %p
          %span.name Health Plan Fee
          %span.cost $2160
      .line-item.meal-plan{ 'data-total' => '5380' }
        %p
          %span.name 5 Meal Plan
          %span.cost $5380
      .line-item.housing{ 'data-total' => '6720' }
        %p
          %span.name Residence (Standard Double)
          %span.cost $6720
      .line-item.tuition{ 'data-total' => '18190' }
        %p
          %span.name Tuition
          %span.cost $18190

%article#panel.calendar
  .year
    .sem.past
      %span $24858
    .sem.past
      %span $24858
  .year
    .sem.past
      %span $25452
    .sem.past
      %span $7262
  .year
    .sem.tentative
      %span Semester 5
    .sem.tentative
      %span Semester 6
  .year
    .sem
    .sem
  .year
    .sem
    .sem

%article#panel.costs-summary.center.hide{ 'data-total' => '21447' }
  %div
    .text
      %h2 Northeastern Costs 2011&ndash;2012
      %p By middler year most students have moved off campus and no longer use a meal plan, this is also the second year in a row that the 5-year track student goes on co-op.
    .line-items
      .line-item.recreation-fee{ 'data-total' => '46' }
        %p
          %span.name Recreation Fee
          %span.cost $46
      .line-item.student-center-fee{ 'data-total' => '70' }
        %p
          %span.name Student Center Fee
          %span.cost $70
      .line-item.student-activity-fee{ 'data-total' => '116' }
        %p
          %span.name Student Activity Fee
          %span.cost $116
      .line-item.health-plan{ 'data-total' => '2295' }
        %p
          %span.name Health Plan Fee
          %span.cost $2295
      .line-item.tuition{ 'data-total' => '18920' }
        %p
          %span.name Tuition
          %span.cost $18920

%article#panel.calendar
  .year
    .sem.past
      %span $24858
    .sem.past
      %span $24858
  .year
    .sem.past
      %span $25452
    .sem.past
      %span $7262
  .year
    .sem.past
      %span $20183
    .sem.past
      %span $1263
  .year
    .sem.tentative
      %span Semester 7
    .sem.tentative
      %span Semester 8
  .year
    .sem
    .sem

%article#panel.costs-summary.center.hide{ 'data-total' => '22145' }
  %div
    .text
      %h2 Northeastern Costs 2012&ndash;2013
      %p Many students take a 3rd co-op, but many also only take two, which almost doubles the cost of their junior year.
    .line-items
      .line-item.recreation-fee{ 'data-total' => '46' }
        %p
          %span.name Recreation Fee
          %span.cost $46
      .line-item.student-center-fee{ 'data-total' => '70' }
        %p
          %span.name Student Center Fee
          %span.cost $70
      .line-item.student-activity-fee{ 'data-total' => '120' }
        %p
          %span.name Student Activity Fee
          %span.cost $120
      .line-item.health-plan{ 'data-total' => '2249' }
        %p
          %span.name Health Plan Fee
          %span.cost $2249
      .line-item.tuition{ 'data-total' => '19660' }
        %p
          %span.name Tuition
          %span.cost $19660

%article#panel.calendar
  .year
    .sem.past
      %span $24858
    .sem.past
      %span $24858
  .year
    .sem.past
      %span $25452
    .sem.past
      %span $7262
  .year
    .sem.past
      %span $20183
    .sem.past
      %span $1263
  .year
    .sem.past
      %span $20902
    .sem.past
      %span $1242
  .year
    .sem.tentative
      %span Semester 9
    .sem.tentative
      %span Semester 10

%article#panel.costs-summary.center.hide{ 'data-total' => '43291' }
  %div
    .text
      %h2 Northeastern Costs 2013&ndash;2014
    .line-items
      .line-item.recreation-fee{ 'data-total' => '92' }
        %p
          %span.name Recreation Fee
          %span.cost $92
      .line-item.student-activity-fee{ 'data-total' => '120' }
        %p
          %span.name Student Activity Fee
          %span.cost $120
      .line-item.student-center-fee{ 'data-total' => '140' }
        %p
          %span.name Student Center Fee
          %span.cost $140
      .line-item.health-plan{ 'data-total' => '2159' }
        %p
          %span.name Health Plan Fee
          %span.cost $2159
      .line-item.tuition{ 'data-total' => '40780' }
        %p
          %span.name Tuition
          %span.cost $40780

%article#panel.calendar
  .year
    .sem.past
      %span $24858
    .sem.past
      %span $24858
  .year
    .sem.past
      %span $25452
    .sem.past
      %span $7262
  .year
    .sem.past
      %span $20183
    .sem.past
      %span $1263
  .year
    .sem.past
      %span $20902
    .sem.past
      %span $1242
  .year
    .sem.past
      %span $21645
    .sem.past
      %span $21645

%article#panel.blank
