---
title: Student Loans
---

.headline
  %h1 How will student loans effect you?
  .line

.costs
  %h2 1. The Costs
  .years
    - 4.times do |year|
      .year
        %span.title
          Year
          = year+1
        %span.cost<
          $
          = 50000 + (year * 700)
        .segments
          .fees
            %span Fees          
          .room
            %span Room &amp; board
          .tuition
            %span Tuition
        
.container
  .y-axis
  .chart
